.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*Animation for box images*/ 
.movable {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    opacity: .9;
    padding-bottom: 0rem;
    transition: all 1s ease-in-out;
}

.movable::after {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.movable:hover {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    /*transition: padding-bottom 0.3s ease-in-out;
    padding-bottom: 0.5rem;*/
    transition: transform .5s ease-in-out;
    transform: scale(1.05); 
}
/*
*/
/*Button CSS*/
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    background-color: #ff1f1f;
  }
  
  .btn-lg {
    border-radius: 2px;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 16px;
  }
  
  /*!important used to overide default bootstrap*/
  .btn-primary {
      background-color: #ffffff  !important;
      border-color: #00BFFF  !important;
      border-width: .25em !important;
      color: #000000 !important;
      transition: color 0.1s ease 0s, background-color 0.15s ease 0s;
      
}
    
  .btn-primary:hover {
    background-color: #00BFFF !important;
    color: #ffffff !important;
}

/* Gradient Borders */
.top-to-bottom {
    border-width: 3px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

/* To Increase Font Awesome Icons Size */
.big-icon {
  font-size: 42px;
}

ul {
  margin-left: 0; 
  padding-left:0;
  list-style-type: disc;
  list-style-position: inside;

}

body {
  min-height:100vh;
}

/* Dark theme */
body.dark {
  background-color: rgb(30,34,39);
  color: #fff;
}

/* Project Boards on project page */
#stoBorads {
    background-color: white;
    box-sizing: border-box;
    position:  relative;
    margin-left: 1px;
    margin-bottom: 5em;
    /* margin: 0 10px 10px 20px; */
    padding: 15px;
    padding-bottom: 1em;
}
